<!DOCTYPE html>
<html lang="en-ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1 class="main_page_text">Главная страница</h1>
    <div>
      <a href="register" style="color:white" class="link">Регистрация</a>
      <a href="login" style="color:white" class="link">Вход</a>
      <a href="locked" style="color:white" class="link">Пасхалочка</a>
    </div>
</body>
</html>