<!DOCTYPE html>
<html lang="en-ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <a href="/" style="color:grey">Главная</a>
    <a href="login" style="color:grey">Вход</a>
    <h1>Регистрация</h1>
    <form method="POST" class="form-register">
        <p><input name="name" type="text" required placeholder="Имя пользователя"></p>
        <p><input name="old" type="number" required placeholder="Возраст"></p>
        <p><input name="city" type="text" required placeholder="Город"></p>
        <p><input name="email" type="email" required placeholder="Эл. почта"></p>
        <p><input name="psw" type="password" required placeholder="Пароль"></p>
        <p><input type="submit" value="Зарегистрироваться" class="register_button"></p>
    </form>
</body>
</html>